@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --clr-body: hsl(0, 0%, 98%);
    --border-clr: hsl(234, 39%, 85%);
    --clr-filter: hsl(233, 14%, 35%);
    --clr-input: hsl(236, 9%, 61%);
    --clr-border-bottom: hsl(233, 11%, 84%);
    --check-bg: linear-gradient(hsl(280, 87%, 65%), hsl(192, 100%, 67%));
    --check-border: hsl(236, 9%, 61%);
    --btn-active: hsl(220, 98%, 61%);
    --bg-image-light-m: url('./images/bg-desktop-light.jpg')
}

/* -------------*/
/*     RESET    */
/* ------------- */

/* Box-sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Make images to work easier with */

img {
    max-width: 100%;
    /* display: block; */
  }
  
  /* Inherit fonts for inputs and Buttons */
  
input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/* remove animations for those who turned them off */

@media (prefers-reduced-motion: reduce) {
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


* --------------- */
/* Utility Classes */
/* --------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem); 
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* Header */

header {
    background-image: var(--bg-image-light-m);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    position: relative;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-body);
    letter-spacing: 5px;
}

.theme-btn {
    border: none;
    background: none;
}

/* Main Section */

.container {
    padding: 0 1.5rem;
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
}

/* Input section */

.form {
    width: 100%;
    background: var(--clr-body);
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.submit-todo {
    width: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    margin-right: 1.2rem;
    border: .5px solid var(--border-clr);
    background: none;
}

.todo-input {
    border: none;
    width: 100%;
    font-size: .8rem;
    color: var(--clr-input);
}

/* Todo Container */

.todo-container {
    margin-block: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

/* Todo */

.todo {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: var(--clr-body);
    padding: 1rem;
    border-radius: 5px;
    border-bottom: .5px solid var(--clr-border-bottom);
}

.todo label {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.delete-btn {
    width: 2rem;
    background: none;
    border: none;
}

/* Cusstom Checkbox */

[type='checkbox'] {
    opacity: 0;
    position: absolute;
}

.custom-checkbox {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 1px solid var(--check-border);
    border-radius: 50%;
    margin-right: 1.2rem;
    transform: scale(.8);
    transition: transform 300ms ease-in-out;
}

[type="checkbox"]:checked + label {
    text-decoration: line-through;
    opacity: .5;
}

[type='checkbox']:checked + label .custom-checkbox {
    background-image: url('./images/icon-check.svg'), var(--check-bg);
    background-repeat: no-repeat;
    background-position: center center;
    color: hsl(0, 0%, 98%);
}

/* Filters */

.todo-remaining {
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.todos-left, .clear-completed {
    color: var(--clr-input);
}

.filter-btn {
    background: none;
    border: none;
}

.filter-btns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--btn-active);
}

@media (min-width: 768px) {

    .header-wrapper {
        width: 50%;
        margin: 0 auto;
        padding: 3rem 0
    }

    .container {
        width: 50%;
        margin: 0 auto;
        padding-inline: 0;
    }
}

@media (min-width: 1440px) {

    .header-wrapper {
        width: 40%;
    }

    .container {
        width: 40%;
    }

    .todo-input,
    .todo label {
        font-size: 1.2rem;
    }

    .filter-btns > button {
        font-weight: 700;
        color: var(--clr-filter);
    }

    .filter-btns {
        position: absolute;
        left: 30%;
        top: 76%;
        box-shadow: none;
    }
}




